<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/evento.css">
    <title>Mutiron - Título</title>
</head>
<body>
    
    <header>
        <div class="container">
          <div class="img">
            <a href="/index"><img src="/images/mutiron3.png" alt="MutirON"/></a>
          </div>
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar...">
            <a href=""><button id="btnBusca">Buscar</button></a>
          </div>
          <div class="nav">
            <nav>
              <ul>
                <li>
                  <a href="#">Novo evento</a>
                </li>
                <li>
                  <a href="#">Perfil</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header>

    <main>
        <div class="titulo">
          <b><%= evento.titulo %></b>
        </div>
        <div class="descricao">
          <%= evento.descricao %>
        </div>
        <div class="descricao">
          <%= evento.data %>
        </div>
        <div class="descricao">
          <%= evento.localizacao %>
        </div>
        <% if(user != evento.criador) { %>

          <% if(eventsCurtidos.indexOf(evento.idEvento) > -1) { %>
            <div class="curtir">
              <form action="/curtido" method="POST">
                <input hidden="true" type="text" name="id_evento" value="<%= evento.idEvento %>">
                <input hidden="true" type="text" name="id_criador" value="<%= evento.criador %>">
                <button type="submit">Curtido</button>
              </form>
            </div>
          <% } else {  %>
            <div class="curtir">
              <form action="/curtir" method="POST">
                <input hidden="true" type="text" name="id_evento" value="<%= evento.idEvento %>">
                <button type="submit">Curtir</button>
              </form>
            </div>
          <% } %>

          <% if(eventsParticipados.indexOf(evento.idEvento) > -1) { %>
            <div class="curtir">
              <form action="/desparticipar" method="POST">
                <input hidden="true" type="text" name="id_evento" value="<%= evento.idEvento %>">
                <input hidden="true" type="text" name="id_criador" value="<%= evento.criador %>">
                <button type="submit">Participando</button>
              </form>
            </div>
          <% } else {  %>
            <div class="curtir">
              <form action="/participar" method="POST">
                <input hidden="true" type="text" name="id_evento" value="<%= evento.idEvento %>">
                <button type="submit">Participar</button>
              </form>
            </div>
          <% } %>

        <% } %>
    </main>
    
</body>
</html>